<div class="footer wf-section">
    <div class="container-footer">
      <div class="container">
        <div class="top-section">
          <div class="footer-text">{{ texts.16979084 }}<br>
            <a href="{{ links.59a9d662 }}">{{ texts.-49c8a23 }}</a>{{ texts.-1bb952e9 }}</div>
        </div>
        <div class="top-section-copyr">
          <div class="footer-small-text">{{ texts.3d58d89 }}</div>
        </div>
      </div>
      <div class="separator-footer">
        <div class="separator-color footer-line"></div>
      </div>
      <div class="container">
        <div class="bottom">
          <div class="bottom-1">
            <div data-delay="0" data-hover="false" class="dropdown w-dropdown">
              <div class="dropdown-toggle w-dropdown-toggle">
                <div class="icon w-icon-dropdown-toggle"></div>
                <div class="text-block-2">{{ texts.6dd211e }}</div>
              </div>
              <nav class="dropdown-list w-dropdown-list">
                {%- assign collection = collections.categories | sort: "-created-on" -%}<div class="w-dyn-list">
                  {%- unless collection.length == 0 -%}<div role="list" class="w-dyn-items">
                    {%- for item in collection -%}<div role="listitem" class="dropdown-link-o w-dyn-item">
                      <a href="{{ item.url }}" class="dropdown-link-text">{{ item.data.title }}</a>
                    </div>{%- endfor -%}
                  </div>{%- endunless -%}
                  {%- if collection.length == 0 -%}<div class="w-dyn-empty">
                    <div>{{ texts.3d503d2b }}</div>
                  </div>{%- endif -%}
                </div>
              </nav>
            </div>
            <div class="footer-categories">
              <div class="footer-title-text">{{ texts.-3be6ddc4 }}</div>
              <div class="footer-links-container cc-categories">
                {%- assign collection = collections.categories | sort: "title" | limit: 12 -%}<div class="w-dyn-list">
                  {%- unless collection.length == 0 -%}<div role="list" class="collection-list w-dyn-items">
                    {%- for item in collection -%}<div role="listitem" class="footer-collection-item w-dyn-item">
                      <a href="{{ item.url }}" class="link-footer">{{ item.data.title }}</a>
                    </div>{%- endfor -%}
                  </div>{%- endunless -%}
                  {%- if collection.length == 0 -%}<div class="w-dyn-empty">
                    <div>{{ texts.3d503d2b }}</div>
                  </div>{%- endif -%}
                </div>
              </div>
            </div>
          </div>
          <div class="bottom-2">
            <div class="footer-links-container">
              <div class="footer-links">
                <div class="footer-title-text">{{ texts.-273fe2f4 }}</div>
                <div class="footer-links-inner">
                  <a href="{{ links.55b8e8be }}" class="nav-link white">{{ texts.3c2336d }}</a>
                  <a href="{{ links.-3cdecb35 }}" class="nav-link white">{{ texts.-4b5115e4 }}</a>
                </div>
              </div>
              <div class="footer-links">
                <div class="footer-title-text">{{ texts.-3142bc67 }}</div>
                <div class="footer-links-inner">
                  <a href="{{ links.-7f12a0bc }}" target="_blank" class="nav-link white">{{ texts.-78dcd640 }}</a>
                  <div class="footer-small-text">{{ texts.3bce6e91 }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>