<div class="section footer-v1-section wf-section">
      <div class="wrapper">
        <div class="footer-v1">
          <div class="footer-v1-column about">
            <a href="{{ links.23 }}" class="footer-v1-brand w-inline-block"><img src="{{ images.-49df14d8.url }}" data-sizes="[{&quot;max&quot;:767,&quot;size&quot;:&quot;53.7734375px&quot;},{&quot;max&quot;:991,&quot;size&quot;:&quot;6vw&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;1vw&quot;}]" alt="{{ images.-49df14d8.alt | trim | escape }}" class="footer-v1-logo">
              <div class="footer-v1-logo-text">{{ texts.21c485f1 }}</div>
            </a>
            <div class="footer-v1-info">{{ texts.-707d4dfe }}<br>
              <a href="{{ links.59a9d662 }}">{{ texts.-49c8a23 }}</a>{{ texts.-4f865bea }}</div>
          </div>
          <div class="footer-v1-column">
            <h4 class="footer-v1-heading">{{ texts.-3be6ddc4 }}</h4>
            {%- assign collection = collections.categories | sort: "title" -%}<div class="w-dyn-list">
              {%- unless collection.length == 0 -%}<div role="list" class="w-dyn-items">
                {%- for item in collection -%}<div role="listitem" class="w-dyn-item">
                  <a href="{{ item.url }}" class="footer-v1-nav-link w-inline-block"><img src="{{ images.-1ca4d348.url }}" data-sizes="[{&quot;max&quot;:479,&quot;size&quot;:&quot;100vw&quot;},{&quot;max&quot;:767,&quot;size&quot;:&quot;16px&quot;},{&quot;max&quot;:991,&quot;size&quot;:&quot;2vw&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;16px&quot;}]" alt="{{ images.-1ca4d348.alt | trim | escape }}" class="nav-arrow">
                    <div class="text-block-7">{{ item.data.title }}</div>
                  </a>
                </div>{%- endfor -%}
              </div>{%- endunless -%}
              {%- if collection.length == 0 -%}<div class="w-dyn-empty">
                <div>{{ texts.3d503d2b }}</div>
              </div>{%- endif -%}
            </div>
          </div>
          <div class="footer-v1-column">
            <h4 class="footer-v1-heading">{{ texts.27a839 }}</h4>
            {%- assign collection = collections.tags | sort: "title" -%}<div class="w-dyn-list">
              {%- unless collection.length == 0 -%}<div role="list" class="sidebar-tags w-dyn-items">
                {%- for item in collection -%}<div role="listitem" class="w-dyn-item">
                  <a href="{{ item.url }}" class="tag">{{ item.data.title }}</a>
                </div>{%- endfor -%}
              </div>{%- endunless -%}
              {%- if collection.length == 0 -%}<div class="w-dyn-empty">
                <div>{{ texts.3d503d2b }}</div>
              </div>{%- endif -%}
            </div>
          </div>
          <div class="footer-v1-column">
            <h4 class="footer-v1-heading">{{ texts.3c2336d }}</h4>
            <a href="{{ links.55b8e8be }}" class="footer-v1-nav-link w-inline-block"><img src="{{ images.-1ca4d348.url }}" data-sizes="[{&quot;max&quot;:479,&quot;size&quot;:&quot;100vw&quot;},{&quot;max&quot;:767,&quot;size&quot;:&quot;16px&quot;},{&quot;max&quot;:991,&quot;size&quot;:&quot;2vw&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;16px&quot;}]" alt="{{ images.-1ca4d348.alt | trim | escape }}" class="nav-arrow">
              <div class="text-block-6">{{ texts.3c2336d }}</div>
            </a>
            <a href="{{ links.-3cdecb35 }}" class="footer-v1-nav-link w-inline-block"><img src="{{ images.-1ca4d348.url }}" data-sizes="[{&quot;max&quot;:479,&quot;size&quot;:&quot;100vw&quot;},{&quot;max&quot;:767,&quot;size&quot;:&quot;16px&quot;},{&quot;max&quot;:991,&quot;size&quot;:&quot;2vw&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;16px&quot;}]" alt="{{ images.-1ca4d348.alt | trim | escape }}" class="nav-arrow">
              <div class="text-block-8">{{ texts.6bd14759 }}</div>
            </a>
          </div>
        </div>
        <div class="footer-bottom">
          <div class="footer-bottom-left">
            <div class="text-block-small">{{ texts.-442fbf79 }}</div>
            <div class="divider-small"></div>
            <a href="{{ links.-34d15a4b }}" target="_blank">{{ texts.604ac22d }}</a>
            <div class="divider-small"></div>
            <a href="{{ links.-390dd53 }}" target="_blank">{{ texts.4353928 }}</a>
            <div class="divider-small"></div>
            <div>{{ texts.36a2a70d }}</div>
          </div>
        </div>
      </div>
    </div>