<div data-animation="default" class="nav-bar-v1 w-nav" data-easing2="ease" data-easing="ease" data-collapse="medium" role="banner" data-duration="400" id="Navigation" data-doc-height="1">
    <div class="wrapper nav-bar-v1-wrapper">
      <a href="{{ links.2f }}" class="nav-brand-v1 w-nav-brand"><img src="{{ images.-49df14d8.url }}" data-sizes="[{&quot;max&quot;:10000,&quot;size&quot;:&quot;53.7734375px&quot;}]" alt="{{ images.-49df14d8.alt | trim | escape }}" class="nav-logo">
        <div class="nav-logo-text">{{ texts.-725df0dc }}</div>
      </a>
      <nav role="navigation" class="nav-menu-v1 w-nav-menu">
        <a href="{{ links.2f }}" class="nav-link-1 w-nav-link">{{ texts.2268ff }}</a>
        <div data-hover="true" data-delay="400" class="dropdown-2 dropdown-big w-dropdown">
          <div class="nav-link-1 w-dropdown-toggle">
            <div>{{ texts.-3be6ddc4 }}</div>
          </div>
          <nav class="dropdown-wrapper w-dropdown-list">
            <div class="dropdown-space"></div>
            <div class="wrapper">
              <div class="dropdown-list-2 big-list">
                {%- assign collection = collections.categories | sort: "title" -%}<div class="dropdown-sidebar w-dyn-list">
                  {%- unless collection.length == 0 -%}<div role="list" class="w-dyn-items">
                    {%- for item in collection -%}<div role="listitem" class="w-dyn-item">
                      <a href="{{ item.url }}" class="dropdown-sidebar-link">{{ item.data.title }}</a>
                    </div>{%- endfor -%}
                  </div>{%- endunless -%}
                  {%- if collection.length == 0 -%}<div class="w-dyn-empty">
                    <div>{{ texts.3d503d2b }}</div>
                  </div>{%- endif -%}
                </div>
              </div>
            </div>
          </nav>
        </div>
        <a href="{{ links.4052275e }}" class="nav-link-1 w-nav-link">{{ texts.6347c671 }}</a>
        <a href="{{ links.55b8e8be }}" class="nav-link-1 w-nav-link">{{ texts.3c2336d }}</a>
      </nav>
      <nav role="navigation" class="nav-menu-v1 w-nav-menu">
        <div class="nav-menu-small">
          <a href="{{ links.680a5b77 }}" class="nav-link-small w-nav-link">{{ texts.4e4b4807 }}</a>
        </div>
      </nav>
      <div class="menu-button-2 w-nav-button">
        <div class="menu-icon">
          <div class="menu-line-top"></div>
          <div class="menu-line-middle"></div>
          <div class="menu-line-bottom"></div>
        </div>
      </div>
    </div>
  </div>