<div data-animation="default" class="nav-bar-ai w-nav" data-easing2="ease" data-easing="ease" data-collapse="medium" data-w-id="cac7187b-9499-3ac6-44fc-d7ac89d22c53" role="banner" data-duration="400" id="Navigation" data-doc-height="1">
      <div class="wrapper-navi">
        <a href="{{ links.2f }}" aria-current="page" class="nav-brand-v2 w-nav-brand w--current"><img src="{{ images.-49df14d8.url }}" data-sizes="[{&quot;max&quot;:767,&quot;size&quot;:&quot;53.7734375px&quot;},{&quot;max&quot;:991,&quot;size&quot;:&quot;40.328125px&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;53.7734375px&quot;}]" alt="{{ images.-49df14d8.alt | trim | escape }}" class="nav-logo-2">
          <div class="nav-logo-text">{{ texts.46a78a8b }}</div>
        </a>
        <nav role="navigation" class="nav-menu-v2 w-nav-menu">
          <a href="{{ links.2f }}" aria-current="page" class="nav-link-1 w-nav-link w--current">{{ texts.2268ff }}</a>
          <div data-hover="true" data-delay="400" class="dropdown-2 w-dropdown">
            <div class="nav-link-1 w-dropdown-toggle">
              <div>{{ texts.-3be6ddc4 }}</div>
            </div>
            <nav class="dropdown-list-2 w-dropdown-list">
              <div class="dropdown-space"></div>
              {%- assign collection = collections.categories | sort: "title" -%}<div class="w-dyn-list">
                {%- unless collection.length == 0 -%}<div role="list" class="w-dyn-items">
                  {%- for item in collection -%}<div role="listitem" class="w-dyn-item">
                    <a href="{{ item.url }}" class="dropdown-link">{{ item.data.title }}</a>
                  </div>{%- endfor -%}
                </div>{%- endunless -%}
                {%- if collection.length == 0 -%}<div class="w-dyn-empty">
                  <div>{{ texts.3d503d2b }}</div>
                </div>{%- endif -%}
              </div>
            </nav>
          </div>
          <a href="{{ links.4052275e }}" class="nav-link-1 w-nav-link">{{ texts.-f5172ce }}</a>
          <a href="{{ links.4052275e }}" class="nav-link-1 w-nav-link">{{ texts.21c485f1 }}</a>
          <a href="{{ links.55b8e8be }}" class="nav-link-1 w-nav-link">{{ texts.3c2336d }}</a>
          <a href="{{ links.680a5b77 }}" class="nav-link-small w-nav-link">{{ texts.4e4b4807 }}</a>
        </nav>
        <div class="nav-right-v2"></div>
        <div class="menu-button-v2 w-nav-button">
          <div class="menu-icon">
            <div class="menu-line-top"></div>
            <div class="menu-line-middle"></div>
            <div class="menu-line-bottom"></div>
          </div>
        </div>
      </div>
    </div>