<div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navigation w-nav">
    <div class="navigation-container">
      <a href="{{ links.2f }}" class="logo w-inline-block">
        <h1 class="heading">{{ texts.-1c708c62 }}</h1>
      </a>
      <nav role="navigation" class="nav-menu w-nav-menu">
        <a href="{{ links.2f }}" class="navigation-link w-inline-block">
          <div class="navigation-link-text">{{ texts.-4564c9a3 }}</div>
          <div class="navigation-hover"></div>
        </a>
        <a href="{{ links.2d80ae82 }}" aria-current="page" class="navigation-link w-inline-block w--current">
          <div class="navigation-link-text">{{ texts.6347c671 }}</div>
          <div class="navigation-hover"></div>
        </a>
        <a href="{{ links.55b8e8be }}" class="navigation-link w-inline-block">
          <div class="navigation-link-text">{{ texts.3c2336d }}</div>
          <div class="navigation-hover"></div>
        </a>
      </nav>
      <div class="menu-button w-nav-button">
        <div class="icon-2 w-icon-nav-menu"></div>
      </div>
    </div>
  </div>